
// Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  font-family: "Nunito", serif;
}


$background-color: #fcfcfc;
$navbar-color: #0d6efd;
$navbar-text-color: white;


.navbar {
  background-color: $navbar-color;
  color: $navbar-text-color !important;

  .navbar-brand,
  .nav-link {
    color: $navbar-text-color;
    transition: all 0.2s;
    &:hover {
      color: rgba($navbar-text-color, 0.8);

    }
  }
}

.navbar,
.navbar-spacer {
  min-height: 56px;
}

html,
body {
  background-color: $background-color;
  height: 100%;
  margin: 0;
}

main.content {
  min-height: calc(100vh - 80px);
}

footer {
  height: 80px;
}

.item-img {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.item-title {
  &,
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
  }

  &:hover {
    opacity: 0.75;
  }
}