
// Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  font-family: "Nunito", serif;
}

$background-color: #fcfcfc;
$navbar-color: #0d6efd;
$navbar-text-color: #FFFFFFFF;

@import "_layout";
@import "_navbar";